[checklog-odoo]
ignore=
    WARNING.* 0 failed, 0 error\(s\).*
    # Temporary pysaml2 workaround; https://github.com/IdentityPython/pysaml2/issues/1033
    WARNING.*saml2/cryptography/symmetric\.py:108: CryptographyDeprecationWarning: CFB has been moved to cryptography\.hazmat\.decrepit\.ciphers\.modes\.CFB.*
